<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Masonry Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- CSS / Bootstrap --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- CSS / GoogleFont --> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    
<!-- CSS / FontAwsome --> 
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>

<!-- CSS / Mansonry --> 
<link rel="stylesheet" href="plugins/Mansonry/css/style.css">

<!-- CSS / Sidebar -->     
<link rel="stylesheet" href="plugins/Sidebar/css/style.css">
  
<!-- !!!! CSS / Template -->         
<link rel="stylesheet" href="css/style.css">    
    
<style>

      #map {
        height: 100%;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>
    
<!-- Google Maps API --> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUfwmMfH0vWAQA3Sv1Tt8WMSaBhS2-Vxw&libraries=places"></script>
 <script>
      var map;
      var infowindow;
      var watchId;

      function initMap() {
          watchId = navigator.geolocation.watchPosition(function(position) {
                var coords = position.coords;
                var mapCenter = new google.maps.LatLng(coords.latitude, coords.longitude);
                if (!map) {
                    map = new google.maps.Map(document.getElementById("map"), {
                        center : mapCenter,
                        zoom : 13
                    });
                }
              var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                var marker = new google.maps.Marker({ //찍히는 좌표
                    position : mapCenter,
                    map : map,
                    icon: image
                });
                map.setCenter(mapCenter);
              
              infoWindow = new google.maps.InfoWindow();
        service = new google.maps.places.PlacesService(map);

        map.addListener('idle', performSearch);
      });
      }
                                                        
        function performSearch() {
        var request = {
          bounds: map.getBounds(),
          keyword: 'phone store'
        };
        service.radarSearch(request, callback);
      }

      function callback(results, status) {
        if (status !== google.maps.places.PlacesServiceStatus.OK) {
          console.error(status);
          return;
        }
        for (var i = 0, result; result = results[i]; i++) {
            addMarker(result);
        }
      }
      function addMarker(place) {
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location,
            animation: google.maps.Animation.DROP,
        });

        google.maps.event.addListener(marker, 'click', function() {
          service.getDetails(place, function(result, status) {
            if (status !== google.maps.places.PlacesServiceStatus.OK) {
              console.error(status);
              return;
            }
            infoWindow.setContent(result.name + "<br>" +  result.formatted_address + "<br>" + result.formatted_phone_number);
            infoWindow.open(map, marker);
          });
        });
      }
    </script>
    
</head>

<body>
<nav role="navigation" class="navigation">
    <ul class="navigation__links"> 
      <li>
        <a class="navigation__link" href="/">
          <ion-icon name="home"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:0px">Home</p>
        </a>
      </li>
      
      <li>
        <a class="navigation__link" href="/device">
         <ion-icon name="tablet-portrait"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:64px">Compare Devices</p>
        </a>
      </li>
      
      <li>
        <a class="navigation__link" href="/size">
          <ion-icon name="move"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:126px">Size Calibration</p>
        </a>
      </li>
      
      <li>
        <a class="navigation__link" href="/review">
          <ion-icon name="paper"></ion-icon>
          <p class="navigation__text sidebar-text"  style="top:188px">Reviews</p>
        </a>
      </li>
      <li>
        <a class="navigation__link navigation-active" href="/findstore">
          <ion-icon name="map"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:250px">Find Store</p>
        </a>
      </li>
    <li>
        <a class="navigation__link" href="/aboutus">
          <ion-icon name="hammer"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:312px">About Us</p>
        </a>
      </li>
    <li>
        <a class="navigation__link" href="/intro">
          <ion-icon name="expand"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:374px">Intro</p>
        </a>
      </li>        

    </ul>
  </nav>
        <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUfwmMfH0vWAQA3Sv1Tt8WMSaBhS2-Vxw&libraries=places&callback=initMap" async defer></script>
  <section class="container-fluid gallery bg-faded">
      <!-- 여기서부터 본문 --> 
  </section>
<!-- Modal -->
    
    
<!-- JS / Jquery --> 
<script src="plugins/Jquery/jquery-3.3.1.slim.min.js" ></script>
    
<!-- JS / Bootstrap --> 
<script src="plugins/bootstrap/js/bootstrap.js" ></script>
    
<!-- JS / Masonry -->    
<script src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js'></script>    
<script  src="plugins/Mansonry/js/index.js"></script>

<!-- JS / Sidebar --> 
<script  src="plugins/Sidebar/js/index.js"></script>

<!-- JS / Ionicons -->     
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>

<!-- JS / Vue.js -->     
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
<!-- JS / less --> 
<script src="plugins/less/less.min.js" ></script>


</body>

</html>
