<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Smartphone DIV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- CSS / Bootstrap --> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-theme.css">
    
<!-- CSS / GoogleFont --> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    
<!-- CSS / FontAwsome --> 
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>

<!-- CSS / Mansonry --> 
<link rel="stylesheet" href="plugins/Mansonry/css/style.css">

<!-- CSS / Sidebar -->     
<link rel="stylesheet" href="plugins/Sidebar/css/style.css">
  
<!-- !!!! CSS / Template -->         
<link rel="stylesheet" href="css/style.css">    
</head>

<body onload="$('#maingallery').css('opacity', '1')">
<nav role="navigation" class="navigation">
    <ul class="navigation__links"> 
      <li>
        <a class="navigation__link navigation-active" href="/">
          <ion-icon name="home"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:0px">Home</p>
        </a>
      </li>
      
      <li>
        <a class="navigation__link" href="/device">
         <ion-icon name="tablet-portrait"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:64px">Compare Devices</p>
        </a>
      </li>
      
      <li>
        <a class="navigation__link" href="/size">
          <ion-icon name="move"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:126px">Size Calibration</p>
        </a>
      </li>
      
      <li>
        <a class="navigation__link" href="/review">
          <ion-icon name="paper"></ion-icon>
          <p class="navigation__text sidebar-text"  style="top:188px">Reviews</p>
        </a>
      </li>
      <li>
        <a class="navigation__link" href="/findstore">
          <ion-icon name="map"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:250px">Find Store</p>
        </a>
      </li>
    <li>
        <a class="navigation__link" href="/aboutus">
          <ion-icon name="hammer"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:312px">About Us</p>
        </a>
      </li>
    <li>
        <a class="navigation__link" href="/intro">
          <ion-icon name="expand"></ion-icon>
          <p class="navigation__text sidebar-text" style="top:374px">Intro</p>
        </a>
      </li>        

    </ul>
  </nav>
  <section class="container-fluid gallery bg-faded" id="maingallery">
  <div class="grid">
      
    <a href="#" class="grid__item grid__sizer">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_1.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item grid__item--high">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_2.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_4.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item grid__item--high">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_5.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_3.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_6.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="title_overlay">
          <img src="img/logo.png" style="width:80%; padding-top:10%;">
      </div>
      <img src="img/menu_img/m_7.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_8.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item grid__item--high">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_9.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_10.jpeg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_11.jpeg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_12.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_13.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_14.jpeg" alt="Credits to Unsplash.com" />
    </a>

    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_15.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_16.jpg" alt="Credits to Unsplash.com" />
    </a>
      
      
  </div>
</section>
<!-- Modal -->
    
    
<!-- JS / Jquery --> 

<!-- JS / Bootstrap --> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
<!-- JS / Masonry -->    
<script src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js'></script>    
<script  src="plugins/Mansonry/js/index.js"></script>

<!-- JS / Sidebar --> 
<script  src="plugins/Sidebar/js/index.js"></script>

<!-- JS / Ionicons -->     
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>



</body>

</html>
