<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Masonry Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- CSS / Bootstrap --> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-theme.css">
    
<!-- CSS / GoogleFont --> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    
<!-- CSS / FontAwsome --> 
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>

<!-- CSS / Mansonry --> 
<link rel="stylesheet" href="plugins/Mansonry/css/style.css">

<!-- CSS / Sidebar -->     
<link rel="stylesheet" href="plugins/Sidebar/css/style.css">
  
<!-- !!!! CSS / Template -->         
<link rel="stylesheet" href="css/style.css">    
</head>

<body onload="$('#maingallery').css('opacity', '1')">
<nav class="sidebar-navigation hidden-lg-down" id="sidenav">
	<ul>
		<li class="active" onclick="location.href='/'">
			<ion-icon name="ios-apps" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Main</span>
		</li>
		<li onclick="location.href='/device'">
			<ion-icon name="ios-podium" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Compare Devices</span>
		</li>
		<li onclick="location.href='/size'">
			<ion-icon name="ios-desktop" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Size Calibration</span>
		</li>
		<li onclick="location.href='/review'">
			<ion-icon name="ios-paper" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Reviews</span>
		</li>
        <li onclick="location.href='/findstore'">
			<ion-icon name="ios-map" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Find Store</span>
		</li>
		<li onclick="location.href='/aboutus'">
			<ion-icon name="ios-business" style="font-size:24px;"></ion-icon>
			<span class="tooltip">About Us</span>
		</li>
        <li onclick="location.href='/intro'">
			<ion-icon name="ios-albums" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Intro</span>
		</li>
	</ul>
</nav>
  <section class="container-fluid gallery bg-faded" id="maingallery">
  <div class="grid">
      
    <a href="#" class="grid__item grid__sizer">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_1.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item grid__item--high">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_2.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_4.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item grid__item--high">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_5.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_3.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_6.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="title_overlay">
          <img src="img/logo.png" style="width:80%; padding-top:10%;">
      </div>
      <img src="img/menu_img/m_7.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_8.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item grid__item--high">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_9.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_10.jpeg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_11.jpeg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_12.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_13.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_14.jpeg" alt="Credits to Unsplash.com" />
    </a>

    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_15.jpg" alt="Credits to Unsplash.com" />
    </a>
      
    <a href="#" class="grid__item">
      <div class="item__overlay">
      </div>
      <img src="img/menu_img/m_16.jpg" alt="Credits to Unsplash.com" />
    </a>
      
      
  </div>
</section>
<!-- Modal -->
    
    
<!-- JS / Jquery --> 

<!-- JS / Bootstrap --> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
<!-- JS / Masonry -->    
<script src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js'></script>    
<script  src="plugins/Mansonry/js/index.js"></script>

<!-- JS / Sidebar --> 
<script  src="plugins/Sidebar/js/index.js"></script>

<!-- JS / Ionicons -->     
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>



</body>

</html>
