<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Masonry Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- CSS / Bootstrap --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- CSS / GoogleFont --> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    
<!-- CSS / FontAwsome --> 
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>

<!-- CSS / Mansonry --> 
<link rel="stylesheet" href="plugins/Mansonry/css/style.css">

<!-- CSS / Sidebar -->     
<link rel="stylesheet" href="plugins/Sidebar/css/style.css">
  
<!-- !!!! CSS / Template -->         
<link rel="stylesheet" href="css/style.css">    
</head>

<body>
<nav class="sidebar-navigation hidden-lg-down" id="sidenav">
	<ul>
		<li onclick="location.href='/'">
			<ion-icon name="ios-apps" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Main</span>
		</li>
		<li onclick="location.href='/device'">
			<ion-icon name="ios-podium" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Compare Devices</span>
		</li>
		<li onclick="location.href='/size'">
			<ion-icon name="ios-desktop" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Size Calibration</span>
		</li>
		<li onclick="location.href='/review'">
			<ion-icon name="ios-paper" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Reviews</span>
		</li>
        <li onclick="location.href='/findstore'">
			<ion-icon name="ios-map" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Find Store</span>
		</li>
		<li class="active" onclick="location.href='/aboutus'">
			<ion-icon name="ios-business" style="font-size:24px;"></ion-icon>
			<span class="tooltip">About Us</span>
		</li>
        <li onclick="location.href='/intro'">
			<ion-icon name="ios-albums" style="font-size:24px;"></ion-icon>
			<span class="tooltip">Intro</span>
		</li>
	</ul>
</nav>
  <section class="container-fluid gallery bg-faded">
      <h1>Page Info</h1>
      <!-- 여기서부터 본문 --> 
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
      sadsad<br>
  </section>
<!-- Modal -->
    
    
<!-- JS / Jquery --> 
<script src="plugins/Jquery/jquery-3.3.1.slim.min.js" ></script>
    
<!-- JS / Bootstrap --> 
<script src="plugins/bootstrap/js/bootstrap.js" ></script>
    
<!-- JS / Masonry -->    
<script src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js'></script>    
<script  src="plugins/Mansonry/js/index.js"></script>

<!-- JS / Sidebar --> 
<script  src="plugins/Sidebar/js/index.js"></script>

<!-- JS / Ionicons -->     
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>

<!-- JS / Vue.js -->     
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
<!-- JS / less --> 
<script src="plugins/less/less.min.js" ></script>


</body>

</html>
